.container-about {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 3%;
}

.purpose {
  padding-top: 2%;
  padding-bottom: 2%;
}

.purpose p {
  /*color: #5d5c5c;*/
  margin-bottom: 14px;
}
.purpose a {
  color: #3993dd;
  font-weight: 400;
}

.purpose a,
.purpose a:hover,
.purpose a:visited,
.purpose a:link,
.purpose a:active {
  text-decoration: none;
}

.purpose a:hover {
  color: #512289;
}
