.container {
    max-width: 800px;
    padding-top: 3%;
    margin-right: auto;
    margin-left: auto;
}

.about {

}

.heading {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
}

.heading h1 {
    color: #2698ba;
    font-size:3vw;
}

.heading h2 {
    font-size:2vw;
}

.purpose {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left:2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
