p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
  color:  #e8e8e8;
  font-weight: 300;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.App {
  background-color: #1c1c1d;
}

html { scroll-behavior: smooth; }

.navbar {
  position: sticky;
  top: 0;
  background-color: #1c1c1d;
}


a.anchor {
  display:block;
  position:relative;
  top:-9vh;
  visibility:hidden;
}